*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: auto;
    margin: 90px;
    background: url(/do.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px 0px 20px;
    margin: 27px;
    font-size: 21px;
    font-weight: bold;
    color: blue;
    text-shadow: 3px 2px rebeccapurple;
}
.container{
    text-align: center;
    font-size: 20px;
    margin: 12px 13px 19px 198px;
    color: blanchedalmond;
    text-shadow: 3px 2px rgb(54, 54, 54);
}
.col{
    display: grid;
    align-content: center;
    grid-template-columns: 70% 5%;
    column-gap: 35px;
    margin-top: -9px;
}
.textarea{
    min-height: 40px;
    height: 48px;
    max-width: 100%;
    max-height: 100%;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid gray;
    overflow: auto;
    overflow-x: hidden;
}
.textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #333;
}
.textarea::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}
.textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8f8acc;
    cursor: pointer;
}
.textarea:focus {
    outline: none;
}
.btn{
    border-radius: 10px;
    border-color: #333;
    background-color: white;
    font-size: 20px;
}
.btn:hover{
    cursor: pointer;
    background-color: #ffec20;
}

.todolist {
    margin-top: 20px;
}

.itemall {
    display: grid;
    grid-template-columns: 60% 5% 5%;
    justify-content: center;
    margin-bottom: 3px;
    margin-left: -8px;
}

.item, .check-button, .trash-button {
    border: none;
    background-color: white;
    min-height: 50px;
    padding: 10px 15px;
}

.item {
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px 0 0 10px;
    display: grid;
    align-content: center;
    font-size: 20px;
}

.check-button, .trash-button {
    font-size: 15px;
}

.trash-button {
    border-radius: 0 10px 10px 0;
}

.check-button:hover {
    background-color: #37b3cc;
    color: white;
}

.trash-button:hover {
    background-color: #6b73c1;
    color: white;
}

.checklist {
    text-decoration: line-through;
}

.fa-check, .fa-trash {
    pointer-events: none;
}

button, .check-button, .trash-button {
    cursor: pointer;
}
