

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    
   
}

.calc{
    width: 101%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/pngtree-student-education-tool-green-simple-cartoon-background-picture-image_1437246.jpg);
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 25px;
    margin: -10px;
}

.container {
    width: 21.7%;
    margin: 1.8em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 8px 2px 0px rgb(78, 78, 78);
    background: linear-gradient(-45deg,#e27807,#eee709,#a8c40a,#0dc3f6); 
}
.btns{
    padding:1px;
}
.content {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row button, #eval{
    width: 50px;
    height: 50px;
    font-size: 16px;
    background: #ffffff;
    border: none;
    outline: none;
    margin: 4px;
    border-radius: 15px;
    transition: .1s;
    box-shadow: 2px 5px 7px 0px #1a1a1b;
}

.row button:hover {
    box-shadow: inset 3px 3px 5px rgba(140, 158, 194, 0.73),
        inset -3px -3px 5px rgba(159, 173, 183, 0.809);
    background: #fff;
    cursor: pointer;
}

.display #screen {
    margin: .3em 5px .5em 5px;
    width: 90.3%;
    height: 65px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #ffffff;
}

#ac {
    background: #38cc8c;
    color: #fff;
}

#ac:hover {
    box-shadow: inset 3px 3px 5px #138956,
        inset -3px -3px 5px #2e9f6e;
}

#ce {
    background: #cfc619;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 3px 3px 5px #cfbb07,
        inset -3px -3px 5px #f1e34b;
}

#eval {
    background: #e48511;
    color: #fff;
    box-shadow: 2px 5px 7px 0px #1a1a1b;
}

#eval:hover {
    box-shadow: inset 3px 3px 5px #c37b09,
        inset -3px -3px 5px #cd852d;
}
.back{
    font-size: 30px;
    padding: 20px;
    background-color: #92e1e2;
    text-align: center;
}